{% import "macros/nav.html" as nav %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Paxos Made Moderately Complex{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/papers/base.css" />
    <link rel="stylesheet" href="/css/papers/paxos_made_moderately_complex/components.css" />
    <link rel="stylesheet" href="/css/papers/paxos_made_moderately_complex/breadcrumb.css" />
    {% block extra_stylesheets %} {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include "paxos-made-moderately-complex/nav.html" %}
    <main>{% block content %}{% endblock %}</main>

    {% block scripts %}{% endblock %}
  </body>
</html>
