{% extends "paxos-made-moderately-complex/base.html" %} {% import
"macros/nav.html" as nav %} {% block title %}Introduction - Paxos Made
Moderately Complex{% endblock %} {% block body_class %}pmc-page{% endblock %} {%
block extra_stylesheets %}
<link
  rel="stylesheet"
  href="/css/papers/paxos_made_moderately_complex/breadcrumb.css"
/>
{% endblock %} {% block content %}
<div class="pmc-container">
  <div class="panel">
    <div class="header-icon full" style="margin-right: 20px">
      <object
        type="image/svg+xml"
        data="/svgs/pmmc/introduction.svg"
        class="math-logo"
      ></object>
    </div>
    <h1 class="panel-title">Introduction</h1>
    <div class="quote-container">
      <span class="inscription-label">Paxos</span>

      <blockquote>
        Paxos is a protocol for state machine replication in an asynchronous
        environment that admits crash failures.
      </blockquote>
      <cite class="quote-source">
        <a
          href="https://www.cs.cornell.edu/home/rvr/Paxos/paxos.pdf#page=1"
          target="_blank"
        >
          RENESSE, P. 1
        </a>
      </cite>
    </div>

    <div class="inner-panel">
      <h2>State Machine</h2>
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/pmmc/rsm.svg"
          class="math-logo"
        ></object>
      </div>
      <div class="quote-container">
        <blockquote>
          A state machine consists of a collection of states, a collection of
          transitions between states, and a current state. A transition to a new
          current state happens in response to an issued operation and produces
          an output. Transitions from the current state to the same state are
          allowed, and are used to model read-only operations. In a
          deterministic state machine, for any state and operation, the
          transition enabled by the operation is unique and the output is a
          function only of the state and the operation.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://www.cs.cornell.edu/home/rvr/Paxos/paxos.pdf#page=1"
            target="_blank"
          >
            RENESSE, P. 1 — §1
          </a>
        </cite>
      </div>
      <p>
        State machines are deterministic: given the same collection of inputs,
        they will generate the same outputs every single time. Determinism here
        means that the same sequence of operations will always result in the
        same sequence of states and outputs.
      </p>

      <p>
        Take a simple key–value store. A <code>put</code> changes the stored
        value for a key, while a <code>get</code> is a read-only operation. When
        Renesse talks about a collection of states, he means all the possible
        values that all keys can have. This is the same idea of mathematical
        sets that Lamport is so fond of. Changes to the system and any outputs
        it produces only happen through these operations.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Asynchronous</h2>
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/pmmc/async.svg"
          class="math-logo"
        ></object>
      </div>
      <div class="quote-container">
        <blockquote>
          In an asynchronous environment, there are no bounds on timing. Clocks
          run arbitrarily fast, network communication takes arbitrarily long,
          and state machines take arbitrarily long to transition in response to
          an operation. The term “asynchronous” as used here should not be
          confused with nonblocking operations on objects that are often called
          asynchronous as well.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://www.cs.cornell.edu/home/rvr/Paxos/paxos.pdf#page=1"
            target="_blank"
          >
            RENESSE, P. 1 — §1
          </a>
        </cite>
      </div>
      <p>
        In an asynchronous environment, there is no certainty about how long an
        operation will take to receive a response. It might be nearly immediate,
        or it might take an arbitrarily long amount of time.
      </p>

      <p>
        What Renesse wants to point out is that distributed systems must be
        designed with this uncertainty in mind. Communication, processing, and
        coordination cannot rely on timing guarantees, and must continue to
        function even when responses are delayed indefinitely. This applies not
        just to individual operations, but to the entire system: fault tolerance
        cannot assume any ordering or timing of events. They can be reordered
        arbitrarily.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Crash Failure</h2>
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/pmmc/crash.svg"
          class="math-logo"
        ></object>
      </div>
      <div class="quote-container">
        <blockquote>
          state machine has experienced a crash failure if it will make no more
          transitions and thus its current state is fixed indefinitely. No other
          failures of a state machine, such as experiencing unspecified
          transitions, are allowed. In a “fail-stop environment”, crash failures
          can be reliably detected—not so in an asynchronous environment.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://www.cs.cornell.edu/home/rvr/Paxos/paxos.pdf#page=1"
            target="_blank"
          >
            RENESSE, P. 1 — §1
          </a>
        </cite>
      </div>
      <p>
        In a synchronous environment, detecting crash failures is
        straightforward. In an asynchronous environment, however, what appears
        to be a failure may simply be a delayed message or slow processing,
        making it impossible to distinguish crashes from temporary delays.
      </p>
    </div>

    <div class="inner-panel">
      <h2>State Machine Replication</h2>
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/pmmc/replication.svg"
          class="math-logo"
        ></object>
      </div>
      <div class="quote-container">
        <blockquote>
          State Machine Replication (SMR) is a technique to mask failures, and
          crash failures in particular. A collection of replicas of a
          deterministic state machine are created. The replicas are then
          provided with the same sequence of operations, so they end up in the
          same state and produce the same sequence of outputs. It is assumed
          that at least one replica never crashes, but we do not know a priori
          which replica this is.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://www.cs.cornell.edu/home/rvr/Paxos/paxos.pdf#page=1"
            target="_blank"
          >
            RENESSE, P. 1 — §1
          </a>
        </cite>
      </div>
      <p>
        Replication is a way to deal with crash failure by running multiple
        copies. As long as at least one replica continues to operate, the system
        can keep producing correct results because all replicas process the same
        sequence of operations. Failed replicas can be repaired or replaced
        without the user knowing. The main purpose of SMR is to let the user
        treat the system as a single reliable machine, even though it is
        implemented using many unreliable ones.
      </p>
    </div>
  </div>

  <!-- Bottom Breadcrumb Navigation -->
  {{ nav::breadcrumb( prev_url="/abstract",
  prev_label="Abstract", current_label="Introduction",
  next_url="/communication-with-the-rsm",
  next_label="Communication" ) }}
</div>
{% endblock %}
