{% extends "paxos_made_simple/base.html" %}
{% block title %}Progress - Paxos Made Simple{% endblock %}
{% block body_class %}pms-page{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/papers/paxos_made_simple/learn.css">
<link rel="stylesheet" href="/css/papers/paxos_made_simple/breadcrumb.css">
{% endblock %}
{% block content %}
<div class="pms-container">
    <h1>Progress</h1>
    <div class="pms-section">
        <p>To guarantee progress and avoid infinite competition, designate one proposer as the "distinguished proposer" to attempt getting values accepted.</p>
    </div>
    <nav class="pms-breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/consensus" class="breadcrumb-link">The Consensus Algorithm</a></li>
            <li class="breadcrumb-item breadcrumb-current">Progress</li>
        </ol>
    </nav>
</div>
{% endblock %}
