{% extends "papers/paxos_made_simple/base.html" %}
{% block title %}The Problem - Paxos Made Simple{% endblock %}
{% block body_class %}pms-page{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/papers/paxos_made_simple/learn.css">
<link rel="stylesheet" href="/css/papers/paxos_made_simple/breadcrumb.css">
{% endblock %}
{% block content %}
<div class="pms-container">
    <h1>The Problem</h1>
    <div class="pms-section">
        <p>In a distributed system, we have multiple computers that need to agree on a value, but some can fail and messages can be delayed or lost.</p>
        <h3>Requirements</h3>
        <ol>
            <li><strong>Safety:</strong> Only one value is chosen</li>
            <li><strong>Liveness:</strong> Eventually, a value will be chosen</li>
            <li><strong>Fault Tolerance:</strong> Works even when processes fail</li>
        </ol>
    </div>
    <nav class="pms-breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/consensus" class="breadcrumb-link">The Consensus Algorithm</a></li>
            <li class="breadcrumb-item breadcrumb-current">The Problem</li>
        </ol>
    </nav>
</div>
{% endblock %}
