{% extends "paxos/base.html" %}
{% import "macros/nav.html" as nav %}
{% block title %}Assumptions{% endblock %} {% block 
content %}
<div class="container">
  <div class="panel">
    <div class="header-icon">
      <object
        type="image/svg+xml"
        data="/svgs/paxos/square_bracket.svg"
        class="math-logo"
      ></object>
    </div>
    <h1 class="panel-title">Section 1.3 Assumptions</h1>

    <p class="highlight-box">
      If the requirements are consensus between nodes; assumptions are the tools
      Lamport gives them to achieve this.
    </p>

    <div class="quote-container">
      <span class="inscription-label">Assumptions 1.3</span>
      <blockquote>
        The requirements of the parliamentary protocol could be achieved only by
        providing the legislators with the necessary resources.
      </blockquote>
      <cite class="quote-source">
        <a
          href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=4"
          target="_blank"
        >
          LAMPORT, P. 4 — §1.3
        </a>
      </cite>
    </div>

    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/ledger.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Ledger</h2>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.3</span>
        <blockquote>
          Each legislator received a sturdy ledger in which to record the
          decrees, a pen, and a supply of indelible ink.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=4"
            target="_blank"
          >
            LAMPORT, P. 4 — §1.3
          </a>
        </cite>
      </div>

      <p>
        The ledger a stable recording of the decrees in order. It could be
        memory, it could be a database, it could be a json document. That part
        isn't important. What is, is that if the node crashes or stops the
        ledger can be instantiated to its last known state. Also it is made
        clear that each node owns it's own recording. If they were all using the
        same database as their main ledger it would make the algorithm pointless
        since the database would be centralization of decrees.
      </p>
    </div>

    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/note.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Notes</h2>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.3</span>
        <blockquote>
          Legislators might forget what they had been doing if they left the
          Chamber, so they would write notes in the back of the ledgers to
          remind themselves of important parliamentary tasks. An entry in the
          list of decrees was never changed, but notes could be crossed out.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=4"
            target="_blank"
          >
            LAMPORT, P. 4 — §1.3
          </a>
        </cite>
      </div>

      <p>
        Metadata, the "notes in the margins" cannot be counted on to always be
        there and accessible. These can be ballot entries, votes, ballot
        numbers, timeouts, retries, anything that is not the actual decree being
        recorded. They are subject to loss, change, corruption, or being
        unavailable. They are optimizations and conveniences but not required
        for correctness.
      </p>
    </div>

    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/timer.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Timers</h2>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.3</span>
        <blockquote>
          Achieving the progress condition required that legislators be able to
          measure the passage of time, so they were given simple hourglass
          timers.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=4"
            target="_blank"
          >
            LAMPORT, P. 4 — §1.3
          </a>
        </cite>
      </div>

      <p>
        Nodes need to be able to measure time locally at least in a simplistic
        manner and there must be a retry mechanism, what those are are outside
        the scope of the paper and are mentioned only to clarify that they are
        needed.
      </p>
    </div>

    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/message.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Messages</h2>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.3</span>
        <blockquote>
          Legislators could communicate only by messenger, and were provided
          with funds to hire as many messengers as they needed. A messenger
          could be counted on not to garble messages, but he might forget that
          he had already delivered a message, and deliver it again. Like the
          legislators they served, messengers devoted only part of their time to
          parliamentary duties. A messenger might leave the Chamber to conduct
          some business—perhaps taking a six-month voyage—before delivering a
          message. He might even leave forever, in which case the message would
          never be delivered.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=4"
            target="_blank"
          >
            LAMPORT, P. 4 — §1.3
          </a>
        </cite>
      </div>

      <p>
        Nodes communicate only by messages. Messages might be delayed
        indefinitely, they might be duplicated, or they might never be delivered
        at all. They need to be designed to handle these conditions. Hence all
        messages should be idempotent.
      </p>
    </div>

    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/tampered.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Non-Byzantine</h2>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.3</span>
        <blockquote>
          In modern parliaments, the passing of decrees is hindered by
          disagreement among legislators. This was not the case in Paxos, where
          an atmosphere of mutual trust prevailed What little time on it will be
          late in the paper. "What evidence has been uncovered is discussed in
          Section 3.3.5"
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=5"
            target="_blank"
          >
            LAMPORT, P. 5 — §1.3
          </a>
        </cite>
      </div>

      <p>
        Nodes are fail-stop, not malicious. They may crash or go silent, but
        they never send forged or contradictory messages to trick the system.
      </p>
    </div>
  </div>

  <!-- Bottom Breadcrumb Navigation -->
    {{ nav::breadcrumb(
    prev_url="/the-problem/requirements",
    prev_label="Requirements",
    current_label="Assumptions",
    next_url="/synod/overview",
    next_label="Section 2 Overview"
  ) }}
  {% endblock %}
</div>
