{% extends "paxos/base.html" %}
{% import "macros/nav.html" as nav %}
{% block title %}Requirements{% endblock %} {% block 
content %}
<div class="container">
  <div class="panel">
    <div class="header-icon">
      <object
        type="image/svg+xml"
        data="/svgs/paxos/requirements.svg"
        class="math-logo"
      ></object>
    </div>
    <h1 class="panel-title">Section 1.2 Requirements</h1>

    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/consistancy.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Consistency</h2>
      <div class="quote-container anchor-quote">
        <span class="inscription-label">Requirements 1.2</span>
        <blockquote>
          Parliament’s primary task was to determine the law of the land, which
          was defined by the sequence of decrees it passed ... each Paxon
          legislator maintained a ledger in which he recorded the numbered
          sequence of decrees that were passed. ... Ledgers were written with
          indelible ink, and their entries could not be changed.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=3"
            target="_blank"
          >
            LAMPORT, P. 3 — §1.2
          </a>
        </cite>
      </div>

      <p>
        Stripped of allegory this lays out the idea of node/legislator and their
        ledger. Ledgers are a ordered list of decrees/values that once entered
        cannot be changed.
      </p>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.2</span>
        <blockquote>
          The first requirement of the parliamentary protocol was the
          consistency of ledgers, meaning that no two ledgers could contain
          contradictory information. Then no other legislator’s ledger could
          have a different entry for decree ... However, another legislator
          might have no entry in his ledger for decree 132 if he hadn’t yet
          learned that the decree had been passed.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=3"
            target="_blank"
          >
            LAMPORT, P. 3 — §1.2
          </a>
        </cite>
      </div>
    </div>
    <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/diamond.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Liveliness</h2>

      <div class="quote-container">
        <span class="inscription-label">Requirements 1.2</span>
        <blockquote>
          If a majority of the legislators were in the Chamber and no one
          entered or left the Chamber for a sufficiently long period of time
          then any decree proposed by a legislator in the Chamber would be
          passed, and every decree that had been passed would appear in the
          ledger of every legislator in the Chamber.
        </blockquote>
        <cite class="quote-source">
          <a
            href="https://lamport.azurewebsites.net/pubs/lamport-paxos.pdf#page=3"
            target="_blank"
          >
            LAMPORT, P. 3 — §1.2
          </a>
        </cite>
      </div>

      <p>
        Given enough time if a value for a decree has been proposed some value
        for the decree will be learned by the node
      </p>
    </div>

     <div class="inner-panel">
      <div class="icon">
        <object
          type="image/svg+xml"
          data="/svgs/paxos/validity.svg"
          class="math-logo"
        ></object>
      </div>
      <h2>Validity</h2>
      <p>
        Finally, a third requirement that isn't directly defined is that any
        value learned must be proposed. IE the nodes must use the algorithm and
        not ignore the directives and do their own thing.
      </p>
    </div>
  </div>

  <!-- Bottom Breadcrumb Navigation -->
    {{ nav::breadcrumb(
    prev_url="/the-problem/the-island-of-paxos",
    prev_label="The Island of Paxos",
    current_label="Requirements",
    next_url="/the-problem/assumptions",
    next_label="Assumptions"
  ) }}
</div>
{% endblock %}
