{% extends "paxos-made-simple/base.html" %} {% block title %}Roles - Acceptor -
Paxos Made Simple{% endblock %} {% block body_class %}pms-page{% endblock %} {%
block extra_stylesheets %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/themes/prism-tomorrow.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/components/prism-rust.min.js"></script>
{% endblock %} {% block content %}
<div class="pms-container">
  <div class="panel">
    <div class="header-icon full">
      <object
        type="image/svg+xml"
        data="/svgs/paxos-made-simple/quorum.svg"
        class="math-logo"
      ></object>
    </div>
    <h1 class="panel-title">Acceptor</h1>

    <div class="inner-panel">
      <h2>Acceptor Construction</h2>

      <p>
        An acceptor's job is to keep track of the last value it voted for and
        its latest proposal number it has promised to accept.
      </p>

      {% raw %}

      <pre><code class="language-rust">
pub struct Acceptor {
    id: i32,
    next_proposal: Option<Proposal>,
    previous_vote: Option<(Proposal, Value)>
}
    </code></pre>
      {% endraw %}
      <p>
        Acceptors are a simple filter; they have no other job besides being
        non-volatile memory.
      </p>

      <p>It can send two messages and receive two messages:</p>
    </div>

    <div class="inner-panel">
      <h2>Prepare</h2>

      {% raw %}
      <pre><code class="language-rust">
Prepare { from: NodeId, proposal: Proposal }
      </code></pre>
      {% endraw %}

      <p>
        When Prepare is received, it will respond with an accept message. If the
        sent proposal is larger than next_proposal, it will set next_proposal to
        that proposal.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Promise</h2>

      {% raw %}
      <pre><code class="language-rust">
Promise { from: NodeId, proposal: Proposal, last_voted: Option<(Proposal, Value)> }
      </code></pre>
      {% endraw %}

      <p>
        Promise also enforces the nontriviality and consistency of the proposal.
        The acceptor sends back information on what it last voted for, if any.
        From this, the proposer can determine if its current proposal is greater
        than any seen before.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Accept</h2>

      {% raw %}
      <pre><code class="language-rust">
Accept {
    from: NodeId,
    proposal: Proposal,
    value: PaxosCommand,
}
      </code></pre>
      {% endraw %}

      <p>
        Accept is sent to acceptors to ask if their promise is still valid. If
        so, they reply with Accepted to one or more learners depending on the
        implementation.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Accepted</h2>

      {% raw %}
      <pre><code class="language-rust">
Accepted {
    from: NodeId,
    proposal: Proposal,
    value: PaxosCommand,
}
      </code></pre>
      {% endraw %}

      <p>
        Accepted is sent to all learners or a distinguished learner, where it
        tallies Accepted messages to make sure quorum is reached.
      </p>
    </div>

    <!-- Bottom Breadcrumb Navigation -->
  </div>
  {{ nav::breadcrumb( prev_url="/roles/proposer",
  prev_label="Proposer", current_label="Acceptor",
  next_url="/roles/learner", next_label="Learner" ) }}
  {% endblock %}
</div>
