{% extends "paxos-made-simple/base.html" %} {% block title %}Roles - Proposer -
Paxos Made Simple{% endblock %} {% block body_class %}pms-page{% endblock %} {%
block extra_stylesheets %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/themes/prism-tomorrow.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/components/prism-rust.min.js"></script>
{% endblock %} {% block content %}
<div class="pms-container">
  <div class="panel">
    <div class="header-icon full">
      <object
        type="image/svg+xml"
        data="/svgs/paxos-made-simple/proposer.svg"
        class="math-logo"
      ></object>
    </div>
    <h1 class="panel-title">Proposer</h1>
    <p>
      A proposer's main job is to increment the proposal number and collate
      proposal values from all other reachable nodes. From the collated values,
      it will choose the latest voted-on value, or its own if none have been
      proposed.
    </p>

    <div class="inner-panel">
      <h2>Proposal's Number</h2>
      <p>
        A Proposal is simple a combination of the current iteration and
        the role's/node's identification number
      </p>

      {% raw %}
      <pre><code class="language-rust">
struct Proposal {
    pub number: i32,
    pub node_id: i32,
}
    </code></pre>

      {% endraw %}
    </div>

    {% raw %}

    <div class="inner-panel">
      <h2>Proposer Construction</h2>
      <pre><code class="language-rust">
pub struct Proposer {
    id: i32,
    last_tried: i32,
}
    </code></pre>
      {% endraw %}

      <p>
        A proposer needs to keep track of two things: its ID and its last_tried
        proposal number. From there, it can always generate its next proposal.
      </p>
      <p>It can send two messages and receive one message:</p>
    </div>

    <div class="inner-panel">
      <h2>Prepare</h2>

      {% raw %}
      <pre><code class="language-rust">
Prepare { from: NodeId, proposal: Proposal }
      </code></pre>
      {% endraw %}

      <p>
        Prepare is all about enforcing the nontriviality and consistency of the
        proposal. It asks acceptors if this proposal is the largest they have seen,
        and if so, to send back their last vote if it exists.
      </p>

      <p>
        All messages include a <code>from</code> identifier to disambiguate
        messages from different nodes that might contain identical information
        besides this identifier.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Promise</h2>

      {% raw %}
      <pre><code class="language-rust">
Promise { from: NodeId, proposal: Proposal, last_voted: Option<(Proposal, Value)> }
      </code></pre>
      {% endraw %}

      <p>
        Promise also enforces the nontriviality and consistency of the proposal.
        It sends back information on what it last voted, if any. From this, the
        proposer can determine if its current proposal is greater than any seen
        before. If so, it can send the Accept message; if not, it can increment
        its proposal and try again. A simple optimization is to 1+ the greatest
        last_voted number observed.
      </p>

      <p>
        All messages after Promise include the proposal to validate that the
        message is non-stale. In the proposer, this is compared to
        <code>last_tried</code>.
      </p>
    </div>

    <div class="inner-panel">
      <h2>Accept</h2>

      {% raw %}
      <pre><code class="language-rust">
Accept {
    from: NodeId,
    proposal: Proposal,
    value: PaxosCommand,
}
      </code></pre>
      {% endraw %}

      <p>
        Accept is sent to acceptors to ask if their promise is still valid. If
        so, they reply with Accepted to one or more learners depending on the
        implementation. (We will cover learners in detail later.)
      </p>
    </div>

    <!-- Bottom Breadcrumb Navigation -->
  </div>
  {{ nav::breadcrumb(
  prev_url="/roles/hi-its-me-again",
  prev_label="Tangent", current_label="Proposer",
  next_url="/roles/acceptor", next_label="Acceptor" )
  }} {% endblock %}
</div>
