{% extends "paxos/base.html" %}
{% block title %}Paxos - Understand the Part-Time Parliament{% endblock %}
{% block body_class %}landing-page-vaporwave{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/paxos/pages/landing-vaporwave.css">
{% endblock %}
{% block content %}
<div class="vaporwave-container">
    <canvas id="nodeCanvas"></canvas>

    <div class="vaporwave-content">
        <h1 class="vaporwave-title">PAXOS</h1>
        <p class="vaporwave-subtitle">Understand the 1998 Part-Time Parliament Paper</p>

        <a href="/whitepapers" class="vaporwave-button">BEGIN</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/animated-nodes.js"></script>
{% endblock %}