{% extends "paxos-made-simple/base.html" %}
{% block title %}The Implementation - Paxos Made Simple{% endblock %}
{% block body_class %}pms-page{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/papers/paxos_made_simple/learn.css">
<link rel="stylesheet" href="/css/papers/paxos_made_simple/breadcrumb.css">
{% endblock %}
{% block content %}
<div class="pms-container">
    <h1>The Implementation</h1>
    <div class="pms-section">
        <h3>Key Components</h3>
        <ul>
            <li><strong>Proposer:</strong> Initiates consensus</li>
            <li><strong>Acceptor:</strong> Votes on proposals</li>
            <li><strong>Learner:</strong> Discovers chosen values</li>
        </ul>
    </div>
    <nav class="pms-breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/consensus" class="breadcrumb-link">The Consensus Algorithm</a></li>
            <li class="breadcrumb-item breadcrumb-current">The Implementation</li>
        </ol>
    </nav>
</div>
{% endblock %}
