{% extends "paxos-made-simple/base.html" %} {% import "macros/nav.html" as nav %}
{% block title %}Learning a Chosen Value - Paxos Made Simple{% endblock %}
{% block body_class %}pms-page{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/papers/paxos_made_simple/learn.css">
<link rel="stylesheet" href="/css/papers/paxos_made_simple/breadcrumb.css">
{% endblock %}
{% block content %}
<div class="pms-container">
    <h1>Learning a Chosen Value</h1>
    <div class="pms-section">
        <p>Once acceptors reach agreement, learners discover the chosen value. To optimize, one distinguished learner receives notifications and distributes the decision.</p>
    </div>
    {{ nav::breadcrumb(
        prev_url="/consensus",
        prev_label="The Consensus Algorithm",
        current_label="Learning a Chosen Value"
    ) }}
</div>
{% endblock %}
