{% extends "paxos-made-simple/base.html" %}
{% block title %}Implementing a State Machine - Paxos Made Simple{% endblock %}
{% block body_class %}pms-page{% endblock %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/papers/paxos_made_simple/learn.css">
<link rel="stylesheet" href="/css/papers/paxos_made_simple/breadcrumb.css">
{% endblock %}
{% block content %}
<div class="pms-container">
    <h1>Implementing a State Machine</h1>
    <div class="pms-section">
        <h3>Replicated State Machines</h3>
        <p>Multiple machines execute the same sequence of commands and maintain identical state. Paxos ensures all replicas agree on the log of commands.</p>
        <h3>How It Works</h3>
        <ol>
            <li>Client sends command to replica</li>
            <li>Replicas use consensus to agree on appending the command</li>
            <li>All replicas execute the command</li>
            <li>All produce the same result</li>
        </ol>
    </div>
    <nav class="pms-breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/papers/paxos-made-simple/" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item breadcrumb-current">Implementing a State Machine</li>
        </ol>
    </nav>
</div>
{% endblock %}
