{% extends "base.html" %} {% block title %}Assumptions{% endblock %} {% block
content %}
<div class="container">
    <div class="panel">
        <h1>Section 1.3 Assumptions</h1>

        <blockquote>
            The requirements of the parliamentary protocol could be achieved only by providing
            the legislators with the necessary resources. Each legislator received a sturdy ledger
            in which to record the decrees, a pen, and a supply of indelible ink. Legislators might
            forget what they had been doing if they left the Chamber,3 so they would write
            notes in the back of the ledgers to remind themselves of important parliamentary
            tasks. An entry in the list of decrees was never changed, but notes could be crossed
            out. Achieving the progress condition required that legislators be able to measure
            the passage of time, so they were given simple hourglass timers
        </blockquote>

        <p>
            If a legislator is a node, what is a decree? What is a ledger. The ledger
            is some way of it being recorded that stable. It could be memory, it could
            be a database, it could be json document. That part isn't important to
            Lamport. He is more interested in the process of how they are agreed to
            and recorded. He also is making concrete the requirement that each node
            owns it's own recording and that it isn't a shared between them. So a
            database they were all using as their main ledger would not count not
            would it truly be distributed then, that would be centralized.
        </p>

        <p>If the requirements are consensus between nodes these are the tools he's giving </p>


        <p>
            Any of the other metadata, the "notes in the margins" cannot be counted on
            to always be there and accessible. Messages, IE messengers might never be
            delivered or delayed. Time must be kept locally at least in a simplistic
            manner, IE the hourglass timers. And there must be a retry mechanism, what
            those are are outside the main scope of the paper.
        </p>

        <p>
            One assumption he is not concerned with is disagreements among the
            legislators. He is assuming they all trust each other, no Byzantine
            faults, no malicious actors, and no clients trying to propose different
            values for the same decrees. He is basically saying transactions are not
            an problem this is to address and is outside the scope.
        </p>

        <blockquote>
            In modern parliaments, the passing of decrees is hindered by disagreement
            among legislators. This was not the case in Paxos, where an atmosphere of
            mutual trust prevailed What little time on it will be late in the paper.
            "What evidence has been uncovered is discussed in Section 3.3.5"
        </blockquote>


        <div class="nav-links">
            <div class="prev">
                <a href="/the-problem/requirements">Prev - 1.2 Requirements</a>
            </div>
            <div class="next">
                <a href="/synod/overview">Next - Section 2 Overview </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}